.venv/
**/__pycache__/
terraform/.terraform.lock.hcl
terraform/.terraform/
terraform/secret.json
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/secret.tfvars
**secret.json**
terraform/single_vm/*
**/.terraform/*
terraform/tf.log
*.tfstate
*.tfstate.*
logs/*
src/model/classes/.ipynb_checkpoints/*
crash.log
crash.*.log
checkpoint
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

src/model/data/gameData.db